/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: "Inter", sans-serif;
  --accent-font-family: "PressStart2P", fantasy;
  --main-font-weight: 400;
  --heading-font-weight: 700;
  --text-color: #000;
  --background-color: #fff;
  --background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --button-text-color: var(--background-color);
  --like-main-body-color: none;
  --like-contour-color: var(--text-color);
  --like-sparks-color: #ff0000;
}
